%separator {
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: $startGradien;
}

.name {
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: $startGradien;
}

%title {
    text-align: center;
    position: relative;
    &::after {
        @extend %separator;
        top: 50%;
        left: 48%;
    }
    h5 {
        font-family: $Kaushan;
    }
    h4 {
        font-family: $montserrat;
        font-weight: 800;
    }
    p {
        color: $paragraphColor;
        font-size: 15px;
        width: 70%;
        margin: 3rem auto 0;
    }
}

body {
    margin: 0 auto;
    header {
        .navbar {
            font-family: $montserrat;
            font-size: 12px;
            font-weight: 600;
            padding: 1rem 8rem;
            .nav-item {
                position: relative;
                a {
                    color: $white;
                }
                .active {
                    color: $endGradient !important;
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        right: 14px;
                        width: 35px;
                        height: 2px;
                        background-color: $endGradient;
                    }
                }
            }
        }
        .header {
            .carousel-indicators [data-bs-target] {
                width: 13rem;
                margin: 0 1rem;
                position: relative;
                bottom: 2rem;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 35%;
                    height: 3px;
                    background-color: red;
                }
            }
            .hhh {
                position: absolute;
                bottom: 0rem;
                left: 14rem;
                z-index: 555;
            }
            @include breakpoint-max($sm) {
                .hhh {
                    bottom: 1.8rem;
                    left: 5.5rem;
                    span {
                        margin-right: 1rem !important;
                        font-size: 15px !important;
                        h4 {
                            font-size: 16px;
                        }
                    }
                }
            }
            @include breakpoint-min($sm) {
                .hhh {
                    bottom: 1rem;
                    left: 7.5rem;
                    span {
                        margin-right: 4rem !important;
                        font-size: 15px !important;
                        h4 {
                            font-size: 17px;
                        }
                    }
                }
            }
            @include breakpoint-min($md) {
                .hhh {
                    bottom: 1rem;
                    left: 7.6rem;
                    span {
                        margin-right: 4rem !important;
                    }
                }
            }
            @include breakpoint-min($lg) {
                .hhh {
                    bottom: 1rem;
                    left: 8rem;
                    span {
                        margin-right: 5rem !important;
                    }
                }
            }
            @include breakpoint-min($xl) {
                .hhh {
                    bottom: 1rem;
                    left: 13.5rem;
                    span {
                        margin-right: 9rem !important;
                    }
                }
            }
            .carousel-caption {
                bottom: 12rem !important;
                h2 {
                    font-family: $Kaushan;
                    font-size: 3.5rem
                }
                h1 {
                    font-family: $montserrat;
                    font-size: 6.5rem;
                    font-weight: 800;
                    width: 60%;
                    margin: auto
                }
                button {
                    border: 2px solid $white;
                    background-color: transparent;
                    margin-top: 1rem;
                    padding: .4rem 1.8rem;
                    color: $white;
                    font-size: 15px
                }
            }
        }
    }
    .about {
        .about__header {
            @extend %title;
        }
        .about__item {
            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                @include linear-gradient(to bottom, $startGradien, $endGradient);
                opacity: 0;
                transition: all 0.5s;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
            }
            &:hover {
                box-shadow: 5px 5px 9px 2px $shadowColor;
            }
        }
    }
    .counter {
        background-color: $bgColor;
        @include breakpoint-max($lg) {
            .counter_item {
                border: none !important
            }
        }
        h3 {
            font-size: 3rem;
        }
    }
    .services {
        .services__header {
            @extend %title;
            &::after {
                @extend %separator;
                top: 5.5rem;
                left: 48%;
            }
        }
        i {
            color: $bgColor
        }
        // @include breakpoint-max($md) {
        //     .services__header {
        //         @extend %title;
        //         &::after {
        //             @extend .name;
        //             top: 5.5rem;
        //             left: 48%;
        //         }
        //     }
        // }
    }
    .design {
        @include background-image($designBg, 100%, 100%, no-repeat, cover, fixed);
        .design__header {
            @extend %title;
            &::after {
                @extend %separator;
                top: 7.5rem;
                left: 48%;
            }
        }
        .desin-overlay {
            background-color: $disgnLayer;
            width: 100%;
            height: 100%;
        }
        @include breakpoint-min($sm) {
            .designe-img {
                bottom: -6rem;
                right: -4rem;
            }
        }
        @include breakpoint-min($lg) {
            .designe-img {
                bottom: -6rem;
                right: 6rem;
            }
        }
        @include breakpoint-min($xl) {
            .designe-img {
                bottom: -6rem;
                right: 17rem;
            }
        }
    }
    .what_we_do {
        .what_we_do__header {
            @extend %title
        }
        i {
            color: $shadowColor;
        }
    }
    .slider {
        background-color: $grayBg;
        i {
            font-size: 2rem;
            color: $bgColor;
            padding: 2.5rem;
            border: 2px solid $bgColor;
            margin-top: 10px;
        }
        h5 {
            font-family: $Kaushan;
            position: relative;
            margin-left: 3.5rem;
            &::before {
                @extend %separator;
                top: 10px;
                left: -3.5rem;
            }
        }
    }
    .team {
        .team__header {
            @extend %title
        }
        .team__item {
            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                @include linear-gradient(to bottom, $startGradien, $endGradient);
                opacity: 0;
                transition: all 0.5s;
                cursor: pointer;
                i {
                    color: $startGradien;
                    background-color: $endGradient;
                    // padding: 1rem;
                    transition: all 0.5s;
                    &:hover {
                        background-color: $startGradien;
                        color: $white;
                    }
                }
                &:hover {
                    opacity: 1;
                }
            }
            &:hover {
                box-shadow: 5px 5px 9px 2px $shadowColor;
            }
        }
    }
    .gallery {
        .gallery__header {
            position: relative;
            @extend %title;
        }
        figure {
            margin: 0;
        }
        .gallery_img {
            img {
                display: block;
            }
            .gallery_overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                @include linear-gradient(to bottom, $startGradien, $endGradient);
                opacity: 0;
                transition: all 0.5s;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .feedback {
        h5 {
            font-family: $Kaushan;
            position: relative;
            margin-left: 3.5rem;
            &::before {
                @extend %separator;
                top: 10px;
                left: -3.5rem;
            }
        }
    }
    .brands {
        background-color: $grayBg;
        padding: 2rem 6rem;
    }
    .clients {
        @include background-image($designBg, 100%, 100%, no-repeat, cover, fixed);
        .clients__header {
            @extend %title;
            &::after {
                @extend %separator;
                top: 6.5rem;
                left: 48%;
            }
        }
        .clients_overlay {
            background-color: $disgnLayer;
            width: 100%;
            height: 100%;
        }
    }
    .blog {
        .blog__header {
            @extend %title;
            &::after {
                @extend %separator;
                top: 5rem;
                left: 48%;
            }
        }
        i {
            color: $bgColor;
            font-size: 15px;
        }
        .calender {
            background-color: $bgColor;
            padding: 6px 12px 6px;
        }
        @include breakpoint-max($sm) {
            .calender {
                top: 5rem;
                left: -0.8rem;
            }
        }
        @include breakpoint-min($sm) {
            .calender {
                top: 11rem;
                left: -0.8rem;
            }
        }
        @include breakpoint-min($md) {
            .calender {
                top: 1.5rem;
                left: -0.8rem;
            }
        }
        @include breakpoint-min($lg) {
            .calender {
                top: 5rem;
                left: -0.8rem;
            }
        }
        @include breakpoint-min($xl) {
            .calender {
                top: 10rem;
                left: -0.8rem;
            }
        }
    }
    .footer {
        figure {
            margin: 0;
            padding: 2px;
        }
        i {
            color: $bgColor;
        }
        input {
            padding: 0.39rem;
            border: 1px solid $paragraphColor;
        }
         ::placeholder {
            color: rgba($color: $paragraphColor, $alpha: 0.6);
            margin-left: 10px;
        }
        button {
            background-color: $bgColor;
            border: 1px solid transparent;
            padding: 0.39rem 1.4rem;
            color: $white;
        }
        span {
            color: $startGradien;
        }
    }
}